{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Nos Services</h2>
  <div class="row">
    {% for service in services %}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <a href="{% url 'appointments:subservices_list' service.id %}" class="btn btn-primary">Voir catégories</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
